<br>
<div class="jumbotron">
  <h1>Leave Calculator</h1>
  <p>Calculate the length of an employee's leave in a variety of ways.</p>
  <p>
    <%= link_to "Sign In", new_session_path %> or
    <%= link_to "Sign Up", new_user_path, class: 'btn btn-primary' %> today!
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Calculates leave dates</h2>
    <p>Calculate leave by days, weeks, months, or years.</p>
  </div>
  <div class="col-md-4">
    <h2>Store many leave plans</h2>
    <p>Store as many leave plans for as many employees as you'd like.</p>
  </div>
  <div class="col-md-4">
    <h2>Keep it private</h2>
    <p>There are no features to share leave plans and we'll keep it that way.</p>
  </div>
</div>
